<table>
    <tr>
        <th>title</th>
        <th>description</th>
        <th>level</th>
        <th>country</th>
        <th>price</th>
        <th>category</th>
    </tr>
    <tr>
      <td><%= @product.title %></td>
      <td><%= @product.description %></td>
      <td><%= @product.level %></td>
      <td><%= @product.country %></td>
      <td><%= @product.price %></td>
      <td><%= @product.category.try(:title) %></td>
    </tr>
</table>